@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

body {
  background-color: #1a202c;
  margin: 0;
}

header {
  padding: 5px;
}

.heading {
  color: #f0f0f0;
  text-align: center;
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 3.5rem;
}

.container-search {
  display: flex;
  justify-content: center;
}

#search-box {
  padding: 15px 15px 15px 35px; /* Add padding to the left */
  color: black;
  width: 400px;
  font-size: 1rem;
  border-radius: 10px;
  font-family: "Permanent Marker", cursive;
  font-weight: 200;
  font-style: normal;
  background-image: url('https://i.ibb.co/RQ5YFp7/search-solid.png');
  background-repeat: no-repeat;
  background-position: 10px center; /* Position the icon 10px from the left */
}

.no-artists {
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
  color: white;
}

.container-cards {
  /* padding: 20px; */
  padding-block: 50px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
}

.card {
  border: 1px solid #f0f0f0;
  background-color: white;
  min-height: 100%;
  display: flex;
  padding: 1rem;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: transform ease 0.3s;
}

.card:hover {
  background-color: rgba(255, 255, 255, 0.794);
  border: 1px solid rgba(255, 255, 255, 0.794);
  transform: translateY(-10px);
}

.card-title {
  color: black;
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2rem;
  width: 200px;
  height: 50px;
  text-align: center;
  margin-top: 20px;
}

.container-spinner {
  display: none;
  justify-content: center;
  align-items: center;
  height: 200px;
};

.card-image {
  width: 100%;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

.artist-image {
  display: none;
  width: 100%;
  min-height: 200px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

.details {
  display: flex;
  flex-direction: column;
  margin-left: 20%;
  color: #f0f0f0;
}

a {
  color: #f0f0f0;
  text-decoration: none;
}

@media screen and (max-width: 600px) {
  .heading {
    font-size: 2.5rem;
  }

  #search-box {
    width: 300px;
  }
}
