{{template "header" .}}

<h1>{{.DisplayDetails.ArtistDetails.Name}}</h1>
<p>Members:</p>
<ul>
  {{range .DisplayDetails.ArtistDetails.Members}}
  <li>{{.}}</li>
  {{end}}
</ul>
<p>Formed: {{.DisplayDetails.ArtistDetails.Year}}</p>
<p>First Album: {{.DisplayDetails.ArtistDetails.FirstAlbum}}</p>
<h2>Concerts:</h2>
<ul>
  {{range $key, $values := .DisplayDetails.Concerts.Relations}}
  <li>
    {{ $key }}:
    <ul>
      {{range $values}}
      <li>{{.}}</li>
      {{end}}
    </ul>
  </li>
  {{end}}
</ul>

{{template "footer" }}
