{{template "header" .}}

<!-- <style>
  .details-page-bg {
    background-image: url("{{.Background}}"), url("{{.Background}}");
    background-repeat: repeat-y;
    background-size: 15%;
    background-position: right, left;
  }
</style> -->

<body>
  <header>
    <h1 class="heading">{{.DisplayDetails.ArtistDetails.Name}}</h1>
  </header>
  <div class="details">
    <p>Description: {{.DisplayDetails.ArtistDescription}}</p>
    <p>Members:</p>
    <ul>
      {{range .DisplayDetails.ArtistDetails.Members}}
      <li>{{.}}</li>
      {{end}}
    </ul>
    <p>Formed: {{.DisplayDetails.ArtistDetails.Year}}</p>
    <p>First Album: {{.DisplayDetails.ArtistDetails.FirstAlbum}}</p>
    <h2>Concerts:</h2>
    <ul>
      {{range $key, $values := .DisplayDetails.Concerts.Relations}}
      <li>
        {{ $key }}:
        <ul>
          {{range $values}}
          <li>{{.}}</li>
          {{end}}
        </ul>
      </li>
      {{end}}
    </ul>
  </div>
</body>

{{template "footer" }}
