{{define "header"}}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
      integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/static/stylesheets/style.css" />
    <title>{{.Title}}</title>
  </head>
  <body>
    <header>
      <h1 class="heading">Groupie Tracker</h1>
    </header>
    {{end}} {{define "footer"}}
    <script>
      function debounce(func, delay) {
        let timeoutId;
        return function (...args) {
          clearTimeout(timeoutId);
          timeoutId = setTimeout(() => {
            func.apply(this, args);
          }, delay);
        };
      }

      document.addEventListener("DOMContentLoaded", function () {
        let images = document.querySelectorAll(".artist-image");

        images.forEach(function (image) {
          let spinnerContainer =
            image.parentElement.querySelector(".container-spinner");
          let spinner = spinnerContainer.querySelector(
            ".fa-solid.fa-spinner.fa-spin"
          );

          // Show the spinner
          spinner.style.display = "block";
          spinnerContainer.style.display = "flex";

          // Hide the spinner when the image has loaded
          image.addEventListener("load", function () {
            spinner.style.display = "none";
            spinnerContainer.style.display = "none";
          });

          if (image.complete) {
            spinner.style.display = "none";
            spinnerContainer.style.display = "none";
          } else {
            // Otherwise, show the spinner
            spinner.style.display = "block";
            spinnerContainer.style.display = "flex";
          }
        });

        const debouncedUpdateUrl = debounce(function () {
          let searchTerm = document.getElementById("search-box").value.trim(); // Trim whitespace

          document.getElementById("search-form").submit();

          // Update the URL with the search query as a parameter
          // let url = new URL(window.location.href);
          // url.searchParams.set("q", searchTerm);
          // window.history.replaceState({}, "", url);

          // Perform any search-related actions here
        }, 1000); // Set the debounce delay here (e.g., 300 milliseconds)

        document
          .getElementById("search-box")
          .addEventListener("input", debouncedUpdateUrl);
      });
    </script>
  </body>
</html>
{{end}}
